:root {
  --black: #2f2830;
  --gray: gray;
  --graylight: lightgray;
  --blue: #7cd3f0;
  --accent: #bbeafa;
  --yellow: #feca02;
  --white: #ffffff;

  --greenwhatsapp: #01e675;
  --orangeSAC: #ff3700;
  --blueSAC: #0065fa;
  --greenSAC: #00a800;
} 
