:root {
  --black: #2f2830;
  --gray: gray;
  --graylight: lightgray;
  --blue: #67c4e2;
  --yellow: #feca02;
  --white: #ffffff;

  --greenwhatsapp: #01e675;
  --orangeSAC: #ff3700;
  --blueSAC: #0065fa;
  --greenSAC: #00a800;
} 
